/* Pretendard 일반 */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}

/* Montserrat 숫자 */
/* @font-face {
  font-family: 'Pretendard';
  src: url('/pistmw/./assets/fonts/Lato-Thin.woff') format('woff');
    font-weight: 100;
    unicode-range: U+0030-0039;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/pistmw/./assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    unicode-range: U+0030-0039;
} */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

* {
  font-family: "Pretendard", sans-serif !important;
  font-weight: 400;
}

/* layout */
.header {
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 280px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}

.header img {
  width: 100%;
}
.header .imgA {
  width: 179px;
  height: 16px;
  margin-left: 48px;
}
.header .imgB {
  width: 208px;
  height: 36px;
  margin-right: 48px;
}
.sideBar {
  flex-shrink: 0;
  width: 280px;
  background-color: #202844;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 9;
}
.sideBar::after {
  display: block;
  content: "";
  width: 280px;
  height: 100%;
  background-color: #202844;
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 8;
}
.sideBar img {
  width: 100%;
}
.sideBar .imgD {
  width: 46px;
  height: 46px;
  position: absolute;
  right: -22px;
  top: 18px;
}

.MuiInput-root:before,
.MuiInput-root:after {
  display: none !important;
}

.css-70jqto-MuiButtonBase-root-MuiIconButton-root:hover,
.css-1io2xlw-MuiButtonBase-root-MuiButton-root:hover {
  background-color: transparent !important;
  border-color: #202844 !important;
}

.css-kd7p3a-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  padding: 0 !important;
}

.MuiSelect-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiSelect-icon {
  color: #000 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #e5e5e5 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #202844 !important;
}
.MuiTableCell-root {
  font-size: 14px !important;
  padding: 12px !important;
}

.react-grid-item.cssTransforms {
  background-color: #f5f6fa;
  border-radius: 24px;
  padding: 32px;
}
.react-grid-item > .react-resizable-handle::after {
  content: none !important;
}
.react-resizable-handle {
  background-image: url("/src/assets/images/ico_resize_dashboard.svg") !important;
  padding: 0 !important;
  width: 16px !important;
  height: 16px !important;
  bottom: 8px !important;
  right: 8px !important;
}

.tableSum {
  color: #666;
}
.tableSum > div {
  padding: 0 4px;
  color: #000;
}

.MuiPaginationItem-previousNext,
.MuiPaginationItem-firstLast {
  border: none !important;
}
.MuiPaginationItem-root.Mui-selected {
  background-color: transparent !important;
  border: 1px solid #202844 !important;
  border-radius: 8px !important;
  font-weight: 700 !important;
}
.tableView {
  width: 100%;
  box-sizing: border-box;
}

.tableView tr:first-child th,
.tableView tr:first-child td {
  border-top: 1px solid #202844;
}
.tableView th {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  vertical-align: middle;
  background-color: #f5f6fa;
  border-bottom: 1px solid #e8e9ec;
}
.tableView th > div {
  box-sizing: border-box;
  padding-left: 12px;
}
.tableView th > div.required::after {
  display: inline-block;
  content: "*";
  color: #3f8cff;
  padding: 2px 0 0 2px;
}
.tableView td {
  border-bottom: 1px solid #e8e9ec;
}
.tableView td > div {
  padding: 12px 0 12px 12px;
}

.directory {
  user-select: none;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.directory .tree .tree-node--selected {
  color: #3f8cff;
  font-weight: 700;
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  vertical-align: middle;
  padding-right: 5px;
}

/* DateRange 상단 숭김 */
.calendarWrap > div {
  position: absolute;
  z-index: 1;
  margin-top: 50px;
}
.calendarWrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.calendarWrap .inputBox {
  position: relative;
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}
.calendarWrap .inputBox:focus,
.calendarWrap .inputBox:active {
  border-color: #202844;
}
.calendarWrap .inputBox:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
}
.rdrCalendarWrapper {
  border: 1px solid #202844;
  border-radius: 12px;
}
.rdrInRange {
  color: #eff2fa !important;
}
.rdrDayNumber span {
  font-size: 13px;
  color: #202844;
}
.rdrStartEdge,
.rdrEndEdge {
  border-radius: 12px;
  background-color: #202844 !important;
}
.rdrStartEdge .rdrDayNumber > span {
  color: #fff !important;
}
.rdrDateDisplayWrapper {
  display: none;
}
.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
  border: none 0 !important;
}








.btnSide{width:40px;height:40px;background: red;z-index: 99999;position: absolute;top:10px;left:240px;}