/* Pretendard 일반 */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}

/* Montserrat 숫자 */
/* @font-face {
  font-family: 'Pretendard';
  src: url('/pistmw/./assets/fonts/Lato-Thin.woff') format('woff');
    font-weight: 100;
    unicode-range: U+0030-0039;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/pistmw/./assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    unicode-range: U+0030-0039;
} */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

* {
  font-family: "Pretendard", sans-serif !important;
  font-weight: 400;
}

.App {
  width: 100%;
}
/* layout */
.header {
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 280px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  transition: all 0.2s;
}

.header img {
  width: 100%;
}
.header .imgA {
  width: 179px;
  height: 16px;
  margin-left: 48px;
}
.header .imgB {
  width: 208px;
  height: 36px;
  margin-right: 48px;
}
.btnSide {
  width: 46px;
  height: 46px;
  z-index: 99999;
  position: fixed;
  top: 17px;
  left: 257px;
  cursor: pointer;
  transition: all 0.2s;
  background: url(../src/assets/images/btn_toggle.png) no-repeat center;
  background-size: 100%;
}

/* SideBar 접힘 */
.sideClose .sideBar,
.sideClose .sideBar .sideBarFixed {
  width: 104px;
}
.sideClose .btnSide {
  left: 81px;
}
.sideClose .header {
  padding-left: 104px;
}
.sideClose .MuiAccordionSummary-content > span,
.sideClose .MuiCollapse-root {
  display: none;
  transition: none;
}
.sideClose .MuiAccordion-root {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideClose .MuiAccordionSummary-content::before {
  margin-right: 0;
}
.sideClose .sideBar .logo > h1 {
  width: 32px;
  background: url(../src/assets/images/logo_small.png) no-repeat center;
  background-size: 32px;
}
/* SideBar */
.sideBar {
  flex-shrink: 0;
  width: 280px;
  min-height: 100vh;
  height: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: all 0.2s;
}

.sideBar .sideBarFixed {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.2s;
}
.sideBar .logo {
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  padding: 24px 0 0 36px;
  background-color: #202844;
}
.sideBar .logo > h1 {
  font: 0/0 a;
  width: 134px;
  height: 32px;
  background: url(../src/assets/images/logo.png) no-repeat center;
  background-size: 134px;
}
.sideBar .sideBarInner {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 104px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  background-color: #202844;
  padding: 0 24px;
}

.MuiInput-root:before,
.MuiInput-root:after {
  display: none !important;
}

.css-kd7p3a-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  padding: 0 !important;
}

.MuiSelect-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiSelect-icon {
  color: #000 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #e5e5e5 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #202844 !important;
}
.MuiTableCell-root {
  font-size: 14px !important;
  padding: 12px !important;
}

.react-grid-item.cssTransforms {
  background-color: #f5f6fa;
  border-radius: 24px;
  padding: 32px;
}
.react-grid-item > .react-resizable-handle::after {
  content: none !important;
}
.react-resizable-handle {
  background-image: url("/src/assets/images/ico_resize_dashboard.svg") !important;
  padding: 0 !important;
  width: 16px !important;
  height: 16px !important;
  bottom: 8px !important;
  right: 8px !important;
}

.tableSum {
  color: #666;
}
.tableSum > div {
  padding: 0 4px;
  color: #000;
}

.MuiPaginationItem-previousNext,
.MuiPaginationItem-firstLast {
  border: none !important;
}
.MuiPaginationItem-root.Mui-selected {
  background-color: transparent !important;
  border: 1px solid #202844 !important;
  border-radius: 8px !important;
  font-weight: 700 !important;
}

/* View Table */
.tableView {
  width: 100%;
  box-sizing: border-box;
}
.tableView tr:first-child th,
.tableView tr:first-child td {
  border-top: 1px solid #202844;
}
.tableView th,
.tableView td {
  vertical-align: middle;
}
.tableView th {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  vertical-align: middle;
  background-color: #f5f6fa;
  border-bottom: 1px solid #e8e9ec;
}
.tableView th > div {
  box-sizing: border-box;
  padding-left: 12px;
}
.tableView th > div.required::after {
  display: inline-block;
  content: "*";
  color: #3f8cff;
  padding: 2px 0 0 2px;
}
.tableView td {
  border-bottom: 1px solid #e8e9ec;
}
.tableView td > div {
  padding: 12px 0 12px 12px;
}

.directory {
  user-select: none;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.directory .tree .tree-node--selected {
  color: #3f8cff;
  font-weight: 700;
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  vertical-align: middle;
  padding-right: 5px;
}

/* DateRange 상단 숭김 */
.calendarWrap > div {
  position: absolute;
  z-index: 1;
  top: 50px;
}
.calendarWrap {
  display: flex;
  align-items: center;
  position: relative;
}
.calendarWrap .inputBoxWrap {
  display: block;
  position: relative;
  width: 100%;
  flex: 1 1 100%;
}
.calendarWrap .inputBoxWrap > svg {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.calendarWrap .inputBox {
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}
.calendarWrap .inputBox:focus,
.calendarWrap .inputBox:active {
  border-color: #202844;
}
.calendarWrap .divider {
  flex: 0 0 auto;
  padding: 0 12px;
}
.rdrCalendarWrapper {
  border: 1px solid #202844;
  border-radius: 12px;
}
.rdrInRange {
  color: #eff2fa !important;
}
.rdrInRange span {
}
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span {
  font-size: 13px;
  color: #202844 !important;
  font-weight: 500;
}
.rdrDayNumber span {
  font-size: 13px;
  color: #202844;
}
.rdrStartEdge,
.rdrEndEdge {
  border-radius: 12px;
  background-color: #202844 !important;
}
.rdrStartEdge .rdrDayNumber > span {
  color: #fff !important;
}
.rdrDateDisplayWrapper {
  display: none;
}
.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
  border: none 0 !important;
}

.sideBar .MuiAccordion-root {
  box-sizing: border-box;
  background-color: transparent !important;
}
.sideBar .Mui-expanded {
  background-color: rgba(255, 255, 255, 0.16) !important;
  color: #fff !important;
}
.sideBar .MuiAccordion-gutters {
  margin-top: 8px;
}
.sideBar .MuiAccordion-root.Mui-expanded {
  margin: 16px 0;
}
.sideBar .MuiAccordionSummary-root {
  padding: 0 16px !important;
}
.sideBar .MuiAccordionSummary-root.Mui-expanded {
  background-color: transparent !important;
  color: #fff;
}
.sideBar .MuiCollapse-root {
  padding: 0 16px;
}

.sideBar .MuiAccordionSummary-content {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.56);
}
.sideBar .MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sideBar .MuiAccordionSummary-content > span {
  font-size: 16px;
}
.sideBar .MuiAccordionSummary-content::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background: red;
  flex-shrink: 0;
}
.sideBarList01 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-1-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList01 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_1_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList02 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-2-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList03 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_3_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList03 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-3-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList04 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_4_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList04 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-4-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList05 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_5_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList05 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-5-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList06 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_6_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList06 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-6-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList02 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_2_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList07 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-7-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList07 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_7_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList08 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-8-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList08 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_8_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList09 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-9-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList09 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_9_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList10 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-10-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList10 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_10_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList11 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-11-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList11 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_11_light_active.png) no-repeat center;
  background-size: 24px;
}

/* 메뉴랑 셀렉트가 같이 되넴?? */
.MuiMenu-paper {
  /* width: 280px !important;
  border-radius: 24px !important;
  */
  border: 1px solid #202844 !important;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.08) !important;
}
.MuiMenu-list {
  /* padding: 36px 34px 34px 34px !important; */
}
.MuiMenu-list .MuiGrid-root {
  /* width: 100% !important;
  margin: 0 !important; */
}

/* modal */
.MuiDialog-paperWidthSm {
  width: 480px;
}
.MuiDialog-paperWidthMd {
  width: 640px;
}
.MuiDialog-paperWidthLg {
  width: 960px;
}
.MuiDialog-paper {
  border-radius: 24px !important;
}
.MuiDialogTitle-root {
  height: 96px;
  box-sizing: border-box;
  padding-left: 32px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e4e8f1;
}
.MuiDialog-paper .tableView td > div {
  padding: 12px 16px 12px 12px;
}

.MuiDialog-paper .MuiAccordion-root {
  box-sizing: border-box;
  margin-bottom: 16px !important;
  border: 2px solid #f5f6fa;
}
.MuiDialog-paper .MuiAccordion-root:before {
  display: none !important;
}
.MuiDialog-paper .MuiAccordionSummary-root {
  box-sizing: border-box;
  padding: 0 24px !important;
  background: #f5f6fa;
  border-radius: 12px;
  min-height: 72px;
}
.MuiDialog-paper .MuiAccordionSummary-content {
}
.MuiDialog-paper .MuiCollapse-root {
}

.MuiDialog-paper .MuiAccordion-root.Mui-expanded {
  border: 2px solid #627399;
  margin-top: 0 !important;
}

.MuiDialog-paper .MuiAccordionSummary-content.Mui-expanded {
}

.MuiDialog-paper .MuiAccordionSummary-root.Mui-expanded {
  background-color: #fff !important;
  color: #000;
}

.MuiDialog-paper .MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}
.MuiDialog-paper .MuiAccordionDetails-root {
  padding: 0 24px;
}

/* checkbox */
.MuiCheckbox-root {
  padding: 0 !important;
}
.MuiCheckbox-root svg {
  width: 20px;
  height: 20px;
  color: #e5e5e5;
  margin-right: 8px;
}
.MuiCheckbox-root.Mui-disabled svg {
  color: #e5e5e5 !important;
}
.MuiCheckbox-root.Mui-checked svg {
  color: #202844 !important;
}
.MuiCheckbox-root.Mui-disabled.Mui-checked svg {
  color: #e5e5e5 !important;
}
