/* Pretendard 일반 */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}

/* Montserrat 숫자 */
/* @font-face {
  font-family: 'Pretendard';
  src: url('/pistmw/./assets/fonts/Lato-Thin.woff') format('woff');
    font-weight: 100;
    unicode-range: U+0030-0039;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/pistmw/./assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    unicode-range: U+0030-0039;
} */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

* {
  font-family: "Pretendard", sans-serif !important;
  font-weight: 400;
}

.App {
  width: 100%;
}
/* layout */
.header {
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 280px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  transition: all 0.2s;
}

.headerMenu {
  position: relative;
}

.headerMenu .MuiMenu-paper {
  box-sizing: border-box;
  width: 280px !important;
  border-radius: 24px !important;
  padding: 32px;
}
.headerMenu .MuiMenu-list {
  padding: 0 !important;
}
.MuiMenu-list .MuiGrid-root {
  /* width: 100% !important;
  margin: 0 !important; */
}

.btnSide {
  width: 46px;
  height: 46px;
  z-index: 99999;
  position: fixed;
  top: 17px;
  left: 257px;
  cursor: pointer;
  transition: all 0.2s;
  background: url(../src/assets/images/btn_toggle.png) no-repeat center;
  background-size: 100%;
}

/* SideBar 접힘 */
.sideClose .sideBar,
.sideClose .sideBar .sideBarFixed {
  width: 104px;
}
.sideClose .btnSide {
  left: 81px;
}
.sideClose .header {
  padding-left: 104px;
}
.sideClose .MuiAccordionSummary-content > span,
.sideClose .MuiCollapse-root {
  display: none;
  transition: none;
}
.sideClose .MuiAccordion-root {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideClose .sideBar .MuiAccordionSummary-content::before {
  margin-right: 0;
}
.sideClose .sideBar .logo > h1 {
  width: 32px;
  background: url(../src/assets/images/logo_small.png) no-repeat center;
  background-size: 32px;
}
/* SideBar */
.sideBar {
  flex-shrink: 0;
  width: 280px;
  min-height: 100vh;
  height: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: all 0.2s;
}

.sideBar .sideBarFixed {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.2s;
}
.sideBar .logo {
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  padding: 24px 0 0 36px;
  background-color: #202844;
}
.sideBar .logo > h1 {
  font: 0/0 a;
  width: 134px;
  height: 32px;
  background: url(../src/assets/images/logo.png) no-repeat center;
  background-size: 134px;
}
.sideBar .sideBarInner {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 104px;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  background-color: #202844;
  padding: 0 24px;
}

.MuiInput-root:before,
.MuiInput-root:after {
  display: none !important;
}

.css-kd7p3a-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  padding: 0 !important;
}

.MuiSelect-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiSelect-icon {
  color: #000 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #e5e5e5 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #202844 !important;
}
.MuiTableCell-root {
  font-size: 14px !important;
  padding: 12px !important;
}

.react-grid-item.cssTransforms {
  background-color: #f5f6fa;
  border-radius: 24px;
  padding: 32px;
}
.react-grid-item > .react-resizable-handle::after {
  content: none !important;
}
.react-resizable-handle {
  background-image: url("/src/assets/images/ico_resize_dashboard.svg") !important;
  padding: 0 !important;
  width: 16px !important;
  height: 16px !important;
  bottom: 8px !important;
  right: 8px !important;
}

.tableSum {
  color: #666;
}
.tableSum > div {
  padding: 0 4px;
  color: #000;
}

.MuiPaginationItem-previousNext,
.MuiPaginationItem-firstLast {
  border: none !important;
}
.MuiPaginationItem-root.Mui-selected {
  background-color: transparent !important;
  border: 1px solid #202844 !important;
  border-radius: 8px !important;
  font-weight: 700 !important;
}

/* View Table */
.tableView {
  width: 100%;
  box-sizing: border-box;
  /* table-layout: fixed; */
}
.tableView tr:first-child th,
.tableView tr:first-child td {
  border-top: 1px solid #202844;
}
.tableView th,
.tableView td {
  vertical-align: middle;
}
.tableView th {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  vertical-align: middle;
  background-color: #f5f6fa;
  border-bottom: 1px solid #e8e9ec;
}
.tableView th > div {
  box-sizing: border-box;
  padding-left: 12px;
  line-height: 21px;
}
.tableView th > div.required::after {
  display: inline-block;
  content: "*";
  color: #3f8cff;
  padding: 2px 0 0 2px;
}
.tableView td {
  border-bottom: 1px solid #e8e9ec;
  height: 64px;
  font-weight: 500;
}
.tableView td > div {
  box-sizing: border-box;
  padding: 12px 0 12px 12px;
}
.tableView .dropArea {
  width: 100%;
  height: 116px;
}
.tableView .dropArea .text p {
  display: block;
}

/* table list */
.tableList {
  width: 100%;
  border-top: 1px solid #202844;
}
.tableList th,
.tableList td {
  border-bottom: 1px solid #e5e5e5;
}
.tableList th {
  text-align: left;
}
.tableList td {
  text-align: center;
  padding: 24px 0;
}
/* treeMenu */
.directory {
  user-select: none;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.directory .tree-leaf-list-item:not(:has(ul)) {
  padding-left: 24px;
  background: url(/src/assets/images/ico_tree_arrow.png) no-repeat 16px center;
  background-size: 16px;
}
.directory .tree-branch-wrapper .tree-branch-wrapper .tree-leaf-list-item {
  background: none;
}
.directory .tree-branch-wrapper {
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.directory .tree .tree-node--selected {
  /* color: #3f8cff; */
  font-weight: 700;
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  box-sizing: border-box;
  padding: 2px;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -3px;
  color: #999;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid #e5e5e5;
}

.directory .tree > li {
  position: relative;
}
.directory .tree > li:before {
  content: "";
  left: 7px;
  top: 28px;
  width: 1px;
  height: calc(100% - 50px);
  background: #e5e5e5;
  position: absolute;
}
.directory .tree > li > ul > li {
  position: relative;
}
.directory .tree > li > ul > li:before {
  content: "";
  left: 23px;
  top: 28px;
  width: 1px;
  height: calc(100% - 56px);
  background: #e5e5e5;
  position: absolute;
}
.directory .tree > li > ul > li:after {
  content: "";
  left: 7px;
  top: 22px;
  width: 9px;
  height: 1px;
  background: #e5e5e5;
  position: absolute;
}
.directory .tree > li > ul > li > ul > li {
  position: relative;
}
.directory .tree > li > ul > li > ul > li:after {
  content: "";
  left: 23px;
  top: 16px;
  width: 16px;
  height: 1px;
  background: #e5e5e5;
  position: absolute;
}

/* DateRange 상단 숭김 */
.calendarWrap > div {
  position: absolute;
  z-index: 1;
  top: 50px;
}
.calendarWrap {
  display: flex;
  align-items: center;
  position: relative;
}
.calendarWrap .inputBoxWrap {
  display: block;
  position: relative;
  width: 100%;
  flex: 1 1 100%;
}
.calendarWrap .inputBoxWrap > svg {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.calendarWrap .inputBox {
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}
.calendarWrap .inputBox:focus,
.calendarWrap .inputBox:active {
  border-color: #202844;
}
.calendarWrap .divider {
  flex: 0 0 auto;
  padding: 0 12px;
}
.rdrCalendarWrapper {
  border: 1px solid #202844;
  border-radius: 12px;
}
.rdrInRange {
  color: #eff2fa !important;
}
.rdrInRange span {
}
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span {
  font-size: 13px;
  color: #202844 !important;
  font-weight: 500;
}
.rdrDayNumber span {
  font-size: 13px;
  color: #202844;
}
.rdrStartEdge,
.rdrEndEdge {
  border-radius: 12px;
  background-color: #202844 !important;
}
.rdrStartEdge .rdrDayNumber > span {
  color: #fff !important;
}
.rdrDateDisplayWrapper {
  display: none;
}
.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
  border: none 0 !important;
}

.sideBar .MuiAccordion-root {
  box-sizing: border-box;
  background-color: transparent !important;
}
.sideBar .Mui-expanded {
  background-color: rgba(255, 255, 255, 0.16) !important;
  color: #fff !important;
}
.sideBar .MuiAccordion-gutters {
  margin-top: 8px;
}
.sideBar .MuiAccordion-root.Mui-expanded {
  margin: 16px 0;
}
.sideBar .MuiAccordionSummary-root {
  padding: 0 16px !important;
}
.sideBar .MuiAccordionSummary-root.Mui-expanded {
  background-color: transparent !important;
  color: #fff;
  font-weight: 700;
}
.sideBar .MuiCollapse-root {
  padding: 0 16px;
}

.sideBar .MuiAccordionSummary-content {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.56);
}
.sideBar .MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sideBar .MuiAccordionSummary-content > span {
  font-size: 16px;
}
.sideBar .MuiAccordionSummary-content::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background: red;
  flex-shrink: 0;
}
.sideBarList01 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-1-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList01 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_1_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList02 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-2-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList03 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_3_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList03 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-3-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList04 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_4_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList04 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-4-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList05 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_5_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList05 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-5-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList06 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_6_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList06 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-6-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList02 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_2_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList07 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-7-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList07 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_7_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList08 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-8-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList08 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_8_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList09 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-9-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList09 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_9_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList10 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-10-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList10 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_10_light_active.png) no-repeat center;
  background-size: 24px;
}
.sideBarList11 .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico-11-light.png) no-repeat center;
  background-size: 24px;
}
.sideBarList11 .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content::before {
  background: url(../src/assets/images/ico_11_light_active.png) no-repeat center;
  background-size: 24px;
}

.sideBar .subMenu .MuiButtonBase-root:hover,
.sideBar .subMenu + .MuiCollapse-root .MuiButtonBase-root:hover {
  background-color: transparent !important;
}
.sideBar .subMenu .MuiButtonBase-root:hover .MuiListItemText-root,
.sideBar .subMenu + .MuiCollapse-root .MuiButtonBase-root:hover .MuiListItemText-root {
  text-decoration: underline;
}
.sideBar .subMenu .MuiListItemIcon-root,
.sideBar .subMenu + .MuiCollapse-root .MuiListItemIcon-root {
  min-width: auto;
  color: #fff;
  margin-right: 8px;
  font-weight: 700;
}
.sideBar .subMenu .MuiTypography-root {
  font-size: 14px;
  font-weight: 700;
}
.sideBar .subMenu + .MuiCollapse-root {
}

.MuiMenu-paper {
  border: 1px solid #202844 !important;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.08) !important;
}
.MuiMenu-list {
}
.MuiMenu-list .MuiGrid-root {
}

/* modal */
.MuiDialog-paperWidthSm {
  width: 480px;
}
.MuiDialog-paperWidthMd {
  width: 640px;
}
.MuiDialog-paperWidthLg {
  width: 960px;
}
.MuiDialog-paper {
  border-radius: 24px !important;
}
.MuiDialogTitle-root {
  height: 96px;
  box-sizing: border-box;
  padding-left: 32px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e4e8f1;
}
.MuiDialog-paper .tableView td > div {
  padding: 12px 16px 12px 12px;
}

.MuiDialog-paper .MuiAccordion-root {
  box-sizing: border-box;
  margin-bottom: 16px !important;
  border: 2px solid #f5f6fa;
}
.MuiDialog-paper .MuiAccordion-root:before {
  display: none !important;
}
.MuiDialog-paper .MuiAccordionSummary-root {
  box-sizing: border-box;
  padding: 0 24px !important;
  background: #f5f6fa;
  border-radius: 12px;
  min-height: 72px;
}
.MuiDialog-paper .MuiAccordionSummary-content {
}
.MuiDialog-paper .MuiCollapse-root {
}

.MuiDialog-paper .MuiAccordion-root.Mui-expanded {
  border: 2px solid #627399;
  margin-top: 0 !important;
}

.MuiDialog-paper .MuiAccordionSummary-content.Mui-expanded {
}

.MuiDialog-paper .MuiAccordionSummary-root.Mui-expanded {
  background-color: #fff !important;
  color: #000;
}

.MuiDialog-paper .MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}
.MuiDialog-paper .MuiAccordionDetails-root {
  padding: 0 24px;
}

/* checkbox */
.MuiCheckbox-root {
  padding: 0 !important;
}
.MuiCheckbox-root svg {
  width: 20px;
  height: 20px;
  color: #e5e5e5;
  margin-right: 8px;
}
.MuiCheckbox-root.Mui-disabled svg {
  color: #e5e5e5 !important;
}
.MuiCheckbox-root.Mui-checked svg {
  color: #202844 !important;
}
.MuiCheckbox-root.Mui-disabled.Mui-checked svg {
  color: #e5e5e5 !important;
}

.commentBox .MuiRating-root .MuiRating-icon {
  font-size: 22px;
  margin-left: -4px;
}

.menuComment.MuiMenu-list {
  background: red !important;
}

/* tab */
.MuiTabs-root .Mui-selected {
  color: #fff !important;
}
.MuiTabs-root button {
  font-size: 16px;
  color: #000;
}
.MuiTabs-flexContainer {
  align-items: stretch;
  height: 100%;
}
.MuiTabs-indicator {
  display: none;
}

.searchCardList li {
  display: flex;
}
/* 별점사이즈 조정 */
.searchCardList .MuiRating-root,
.tableView .MuiRating-root {
  margin-left: 8px;
  line-height: 0;
  font-size: 22px;
}
.searchCardList .MuiRating-root .MuiRating-icon,
.tableView .MuiRating-root .MuiRating-icon {
  font-size: 22px;
  margin-left: -4px;
}

.tableToggle {
  position: relative;
}
.tableToggle .toggleShow,
.tableToggle .toggleHide {
  transition: all 0.2s ease;
  overflow: hidden;
}
.tableToggle .toggleShow {
  height: 320px;
}
.tableToggle .toggleShow .tableToggleList {
  height: 272px;
}
.tableToggle .toggleShow + .buttonMore {
  transform: rotate(180deg);
}

.tableToggle .toggleHide {
  height: 188px;
}
.tableToggle .toggleHide .tableToggleList {
  height: 140px;
}

.tableToggle .tableToggleList {
  padding: 24px;
  overflow-y: auto;
}
.tableToggle .tableToggleList > li {
  padding-bottom: 16px;
}
.tableToggle .buttonMore {
  width: 56px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  outline: none;
}
.MuiFormControlLabel-root {
  margin: 0 !important;
}

/* 스크롤바 설정*/
.tableToggle .tableToggleList::-webkit-scrollbar {
  width: 12px;
}
.tableToggle .tableToggleList::-webkit-scrollbar-thumb {
  min-height: 60px;
  background-color: rgba(62, 83, 130, 0.16);
  border-radius: 10px;
  border: 4px solid #fff;
}

/* 스크롤바 설정*/
.sideBar .sideBarInner::-webkit-scrollbar {
  width: 12px;
}
.sideBar .sideBarInner::-webkit-scrollbar-thumb {
  min-height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 4px solid #202844;
}

/* Drag and Drop */
.dropArea {
  flex-shrink: 0;
  position: relative;
  width: 178px;
  aspect-ratio: 20/13;
  border-radius: 12px;
  border: 1px dashed #627399;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}
.dropArea .dropImage {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  border-radius: 12px;
}
.dropArea .dropImage .btnDelete {
  display: none;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}
.dropArea .dropImage .btnDelete > svg {
  font-size: 16px;
}
.dropArea .dropImage:has(img) .btnDelete {
  display: block;
}
.dropArea .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropArea .text p {
  color: #627399;
  margin-bottom: 8px;
  display: none;
}
.dropArea .text > svg {
  font-size: 26px;
  color: #627399;
}
.thumbNail .dropArea {
  width: 320px;
  height: auto;
}

.thumbNail .dropArea .text p {
  display: block;
}
.thumbNail .thumbNailImage {
  flex-shrink: 0;
  width: 100%;
  max-width: 480px;
}
.thumbNail .thumbNailImageSmall {
  width: 100%;
  max-width: 240px;
}
.stepBtnSet {
  flex-shrink: 0;
}
.stepBtnSet > button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #202844;
}
.stepBtnSet > button > svg {
  font-size: 30px;
}
.stepBox + .stepBox {
  margin-top: 12px;
}
.stepBox .dropArea {
  width: 178px;
  height: auto;
}
.stepBox .dropArea .text p {
  display: none;
}
.stepBoxView + .stepBoxView {
  margin-top: 40px;
}

.acountMenu {
  display: flex;
  justify-content: space-between;
}
.acountMenu .MuiFormGroup-root {
}
.acountMenu .MuiButtonBase-root.MuiRadio-root {
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid;
}

.acountMenu .MuiStack-root:nth-child(1) .MuiButtonBase-root.MuiRadio-root {
  background-color: #202844;
  border-color: #202844;
}
.acountMenu .MuiStack-root:nth-child(2) .MuiButtonBase-root.MuiRadio-root {
  background-color: #fff;
  border-color: #e5e5e5;
}
.acountMenu .MuiStack-root:nth-child(3) .MuiButtonBase-root.MuiRadio-root {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}
.acountMenu .MuiButtonBase-root.MuiRadio-root svg {
  display: none;
}
.acountMenu .Mui-checked {
  border: 2px solid #3f8cff !important;
}
.acountMenu .Mui-checked::after {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  right: -4px;
  top: -4px;
  background: url(/src/assets/images/ico_check.png) no-repeat center;
  background-size: 100%;
}

/* date range picker */
.calendarElement {
  width: 334px;
}
.calendarElement .rdrDay {
  height: 30px;
  margin-bottom: 4px;
}
.calendarElement .rdrDayToday .rdrDayNumber span:after {
  bottom: 0;
}
.calendarElement .rdrMonthName {
  display: none;
}

.calendarElement .rdrMonthAndYearWrapper {
  padding: 26px 24px 16px 24px;
  box-sizing: border-box;
}
.calendarElement .rdrMonthAndYearWrapper .rdrMonthAndYearPickers {
  font-size: 21px;
  font-weight: 700;
  order: -1;
  justify-content: flex-start;
}
.calendarElement .rdrMonthAndYearWrapper .rdrNextPrevButton {
  margin: 0;
  background: transparent;
}
.calendarElement .rdrMonthAndYearWrapper .rdrNextPrevButton i {
  border: solid #999;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.calendarElement .rdrNextPrevButton.rdrPprevButton i {
  transform: rotate(135deg);
}
.calendarElement .rdrNextPrevButton.rdrNextButton i {
  transform: rotate(-45deg);
}

.calendarElement .rdrSelected,
.calendarElement .rdrInRange,
.calendarElement .rdrStartEdge,
.calendarElement .rdrEndEdge {
  top: 0 !important;
  bottom: 0 !important;
}
.calendarElement .rdrDayToday .rdrDayNumber span:after {
  display: none;
}

.MuiPaper-root-MuiCard-root {
  overflow: initial !important;
}

/* Main Swiper */
.swiper {
  box-sizing: border-box;
  height: 100%;
  margin: 0 !important;
}
.swiper-slide {
  text-align: left;
}
.mainSwiper .swiper-pagination {
  position: static;
  margin-top: 32px;
}
.mainSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  opacity: 1;
}
.mainSwiper .swiper-pagination-bullet-active {
  background-color: #202844 !important;
  width: 20px;
  border-radius: 4px;
}
